$font-size-base: 20px;

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
    padding-bottom: 4rem;
}

img {
    max-width: 100%;
}

.page-title {
    clear: both;
}

.giscus-logo {
    clear: both;
    margin: 4rem 0 3rem;
    max-width: 40rem;

    @media only screen and (max-width: 600px) {
        width: 75%;
    }
}

.pitch {
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.1;

    @media only screen and (min-width: 600px) {
        font-size: 1.5em;
    }
}

.pricing {
    font-size: 1.25em;
    margin: 1em 0 1.5em;

    strong {
        font-size: 2em;
    }
}

@media only screen and (min-width: 1000px) {
    .github-sign-up-button, .meta-button {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
}

.github-sign-up-button {
}

.meta-button {
    margin-top: 1rem;
}
