$font-size-base: 20px;
$font-family-base: maison-neue, Roboto, sans-seif;
$body-bg: #F5F6F7;

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
    color: #50636c;
    font-weight: 300;
    line-height: 1.5;
}

p {
  margin-bottom: 2em;
}

img {
  max-width: 100%;
}

.header, .footer {
    background: #fff;
}

.footer {
  padding: 1em 0;
}

.ribbon {
    background: linear-gradient(-90deg, #D7516a 0%, #479cc3 100%);
    height: .6em;
}

.navbar-head {
    &.navbar {
        margin-bottom: 0;
    }

    .navbar-brand {
        height: auto;
        margin: 2.5em 0;
        padding: 0;
    }

    .navbar-buttons {
        text-align: right;
    }
    .navbar-buttons .btn {
        margin: 2.5em 0;
    }
}

.main-content {
    padding: 2em 0;
}

.welcome-heading {
    color: #1c313b;
    font-size: 1.8em;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1em;
}

.sponsors-label {
    display: inline-block;
    font-size: $font-size-small;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;

    &:after {
      background: #50636c;
      bottom: .5em;
      content: '';
      display: block;
      height: .1em;
      position: absolute;
      right: -2.75em;
      width: 2.5em;
    }
}

.sponsor {
    display: inline-block;
    margin: 1em 3em 1em 0;

    img {
        max-width: 12em;
    }
}

.giscus-logo {
    clear: both;
    max-width: 7.5em;

    @media only screen and (max-width: 600px) {
        width: 75%;
    }
}

.btn {
  border: .1em solid #caced1;
  border-radius: .4em;
  font-size: 1em;
  padding: .5em 1.5em;

  .fa {
    font-size: 1.25em;
  }
}

.checkbox-label {
    display: block;
    font-size: 0.75em;
    font-weight: 400;
    margin: 0.5em 0 0 0.2em;

    input[type='checkbox'] {
        margin: 0 0.2em 0.2em 0;
        vertical-align: middle;
    }
}

@media only screen and (min-width: 1000px) {
    .github-sign-up-button, .meta-button {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
}
